services:
  duplicati:
    container_name: duplicati
    image: linuxserver/duplicati
    restart: unless-stopped
    volumes:
      - "{{ duplicati_data_directory }}:/config:rw"
      - "{{ docker_home }}:/source"
      - "{{ backup_root }}:/backuproot"
    ports:
        - "{{ duplicati_port }}:8200"
    environment:
      PUID: 0
      GUID: 0
      TZ: "{{ timezone }}"
    labels:
      traefik.enable: "{{ duplicati_available_externally | string }}"
      traefik.http.routers.duplicati.rule: "Host(`{{ duplicati_hostname }}.{{ ansible_nas_domain }}`)"
      traefik.http.routers.duplicati.tls: true
      traefik.http.services.duplicati.loadbalancer.server.port: "8200"
    networks:
      - {{ duplicati_network_name }} 

networks:
  {{ duplicati_network_name }}:
    external: true