services:
  {{ transmission_container_name }}:
    image: lscr.io/linuxserver/transmission:{{ transmission_image_version }}
    container_name: {{ transmission_container_name }}
    environment:
      - PUID={{ transmission_user_id }}
      - PGID={{ transmission_group_id }}
      - TZ={{ timezone }}
      - USER={{ transmission_user }}
      - PASS={{ transmission_passwd }}
      - BOOK_DOWNLOAD_FOLDER={{ transmission_book_download_folder }}
      - CALIBRE_UPLOAD_FOLDER=/calibre-uploads
      - BOOKLORE_UPLOAD_FOLDER=/booklore-uploads
      - EXTRA_UPLOAD_FOLDER=/extra-uploads
      - CALIBRE_ENABLED={{ (calibre_enabled | default(false) | bool) | ternary('true','false') }}
      - BOOKLORE_ENABLED={{ (booklore_enabled | default(false) | bool) | ternary('true','false') }}
      - EXTRA_ENABLED={{ (extra_book_copy_enabled | default(false) | bool) | ternary('true','false') }}
    volumes:
      - ./config:/config
      - {{ downloads_folder }}:/downloads
      - {{ downloads_folder }}/watch:/watch
      - {{ calibre_upload_directory }}:/calibre-uploads
      - {{ booklore_upload_directory }}:/booklore-uploads
      - {{ extra_book_upload_directory }}:/extra-uploads
    ports:
      - {{ transmission_port }}:9091
      - 51413:51413
      - 51413:51413/udp
    restart: unless-stopped
    labels:
      traefik.enable: "{{ transmission_available_externally | default(false) | string }}"
      traefik.http.routers.transmission.rule: "Host(`{{ transmission_hostname }}.{{ ansible_nas_domain }}`)"
      traefik.http.routers.transmission.tls: true
      traefik.http.services.transmission.loadbalancer.server.port: "9091"
    deploy:
      resources:
        limits:
          cpus: '{{ transmission_cpus }}'
          memory: {{ transmission_memory }}
    networks:
      - {{ transmission_network_name }}

networks:
  {{ transmission_network_name }}:
    external: true
