services:
  vaultwarden:
    image: {{ vaultwarden_image }}:{{ vaultwarden_image_version }}
    container_name: {{ vaultwarden_container_name }}
    restart: unless-stopped
    volumes:
      - "{{ vaultwarden_data_directory }}/data:/data"
    ports:
      - "9445:80"
    labels:
      traefik.enable: "{{ vaultwarden_available_externally | default(false) | string }}"
      traefik.http.routers.vaultwarden.rule: "Host(`{{ vaultwarden_hostname }}.{{ ansible_nas_domain }}`)"
      traefik.http.routers.vaultwarden.tls: true
      traefik.http.services.vaultwarden.loadbalancer.server.port: "80"
    deploy:
      resources:
        limits:
          cpus: '{{ vaultwarden_cpus }}'
          memory: {{ vaultwarden_memory }}
    networks:
      - {{ vaultwarden_network_name }}

networks:
  {{ vaultwarden_network_name }}:
    external: true
