services:
  jellyseerr:
    container_name: {{ jellyseerr_container_name }}
    image: "{{ jellyseerr_image_name }}:{{ jellyseerr_image_version }}"
    volumes:
        - "{{ jellyseerr_config_directory }}:/app/config:rw"
    ports:
        - "{{ jellyseerr_port }}:5055"
    environment:
        TZ: "{{ timezone }}"
        PUID: "{{ jellyseerr_user_id }}"
        PGID: "{{ jellyseerr_group_id }}"
    labels:
      traefik.enable: "{{ jellyseerr_available_externally | string }}"
      traefik.http.routers.jellyseerr.rule: "Host(`{{ jellyseerr_hostname }}.{{ ansible_nas_domain }}`)"
      traefik.http.routers.jellyseerr.tls: true
      traefik.http.services.jellyseerr.loadbalancer.server.port: "5055"
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '{{ jellyseerr_cpu }}'
          memory: {{ jellyseerr_memory }}  
    networks:
      - {{ jellyseerr_network_name }} 

networks:
  {{ jellyseerr_network_name }}:
    external: true