services:
  mariadb:
    image: mariadb:10.11
    container_name: mariadb
    security_opt:
      - seccomp:unconfined
      - apparmor:unconfined
    command: --innodb-buffer-pool-size=512M --transaction-isolation=READ-COMMITTED --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --max-connections=512 --innodb-rollback-on-timeout=OFF --innodb-lock-wait-timeout=120
    volumes:
      - "{{ mariadb_config_directory }}:/var/lib/mysql"
      - "{{ mariadb_dbinit_directory }}:/docker-entrypoint-initdb.d/init.sql"
    environment:
      MARIADB_AUTO_UPGRADE: "1"
      MARIADB_INITDB_SKIP_TZINFO: "1"
      MARIADB_ROOT_PASSWORD: "{{ mariadb_root_password }}"
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '{{ mariadb_cpu }}'
          memory: {{ mariadb_memory }} 
    networks:
      - {{ mariadb_network_name }} 

networks:
  {{ mariadb_network_name }}:
    external: true
