services:
  homeassistant:
    container_name: "{{ homeassistant_container_name }}"
    image: "homeassistant/home-assistant:stable"
    restart: unless-stopped
    volumes:
      - "{{ homeassistant_config_directory }}:/config"
      - /run/dbus:/run/dbus:ro
{% if homeassistant_extra_volumes is defined %}
{% for volume in homeassistant_extra_volumes %}
      - "{{ volume }}"
{% endfor %}
{% endif %}

    ports:
      - "{{ homeassistant_port }}:8123"
    devices: {{ homeassistant_devices | default([]) }}
    environment:
      TZ: "{{ timezone }}"
    #network_mode: host
    labels:
      traefik.enable: "{{ homeassistant_available_by_traefik | string }}"
      traefik.http.routers.homeassistant.rule: "Host(`{{ homeassistant_hostname }}.{{ ansible_nas_domain }}`)"
      traefik.http.routers.homeassistant.tls: true
      traefik.http.services.homeassistant.loadbalancer.server.port: "8123"
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 1G   
    networks:
      - {{ homeassistant_network_name }} 

networks:
  {{ homeassistant_network_name }}:
    external: true