services:
  homeassistant:
    container_name: "{{ homeassistant_container_name }}"
    image: "homeassistant/home-assistant:stable"
    restart: unless-stopped
    volumes:
      - "{{ homeassistant_config_directory }}:/config"
      - /run/dbus:/run/dbus:ro
{% if homeassistant_extra_volumes is defined %}
{% for volume in homeassistant_extra_volumes %}
      - "{{ volume }}"
{% endfor %}
{% endif %}

    devices: {{ homeassistant_devices | default([]) }}
    environment:
      TZ: "{{ timezone }}"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    network_mode: host
    labels:
      traefik.enable: "{{ homeassistant_available_by_traefik | string }}"
      traefik.http.routers.homeassistant.rule: "Host(`{{ homeassistant_hostname }}.{{ ansible_nas_domain }}`)"
      traefik.http.routers.homeassistant.tls: true
      traefik.http.services.homeassistant.loadbalancer.server.port: "8123"
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 1G

{% if homeassistant_zigbee2mqtt_enabled %}
  zigbee2mqtt:
    container_name: "{{ homeassistant_zigbee2mqtt_container_name }}"
    image: "{{ homeassistant_zigbee2mqtt_image_name }}:{{ homeassistant_zigbee2mqtt_image_version }}"
    restart: unless-stopped
    volumes:
      - "{{ homeassistant_zigbee2mqtt_data_directory }}:/app/data"
      - /run/udev:/run/udev:ro
    ports:
      - "{{ homeassistant_zigbee2mqtt_frontend_port }}:8080"
    environment:
      TZ: "{{ timezone }}"
    devices:
      - "{{ homeassistant_zigbee2mqtt_adapter_by_id | default(homeassistant_zigbee2mqtt_device, true) if (homeassistant_zigbee2mqtt_adapter_by_id | length) > 0 else homeassistant_zigbee2mqtt_device }}:{{ homeassistant_zigbee2mqtt_device }}"
    networks:
      - {{ homeassistant_network_name }}
{% endif %}


{% if homeassistant_matter_enabled %}
  matter-server:
    container_name: matter-server
    image: ghcr.io/home-assistant-libs/python-matter-server:stable
    depends_on:
      - homeassistant
    restart: unless-stopped
    network_mode: host  # Critical for Thread network access
    security_opt:
      - apparmor=unconfined
    volumes:
      - ./matter:/data
{% endif %}

{% if homeassistant_thread_border_router_enabled %}
  openthread:
    container_name: "{{ homeassistant_thread_border_router_container_name }}"
    image: "{{ homeassistant_thread_border_router_image_name }}:{{ homeassistant_thread_border_router_image_version }}"
    depends_on:
      - homeassistant
    restart: unless-stopped
    privileged: true
    network_mode: host
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
      - "{{ homeassistant_thread_border_router_device }}:{{ homeassistant_thread_border_router_device }}"
    volumes:
      - /var/lib/otbr:/data             # persist OTBR state
    environment:
      OT_RCP_DEVICE: "spinel+hdlc+uart:///{{ homeassistant_thread_border_router_device }}?uart-baudrate=460800"
      OT_INFRA_IF: "{{ homeassistant_thread_border_router_backbone_if }}"               # your infrastructure interface
      OT_THREAD_IF: "wpan0"             # Thread interface
      OT_LOG_LEVEL: "7"                 # debug logging
      OT_REST_LISTEN_ADDR: "0.0.0.0"
      OT_REST_LISTEN_PORT: "{{ homeassistant_thread_border_router_otbr_rest_port }}"
{% endif %}

networks:
  {{ homeassistant_network_name }}:
    external: true